.root {
    -fx-background-color: linear-gradient(to bottom, #0f172a, #020617);
}

.top-bar {
    -fx-padding: 8;
    -fx-background-color: #020617;
    -fx-border-color: #4b5563;
    -fx-border-width: 0 0 1 0;
}

.label {
    -fx-text-fill: #e5e7eb;
}

.button {
    -fx-background-radius: 6;
    -fx-background-color: #22c55e;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #16a34a;
}

.log-area {
    -fx-control-inner-background: #020617;
    -fx-text-fill: #e5e7eb;
}

.user-list {
    -fx-background-color: #020617;
}

